*.db
*.db-wal
*.db-shm
__pycache__/
*.pyc
*.pyo
node_uuid.txt
peers_discovered.json
user_wallets.json
wallets/
.env
backup_*/
logs/
verificacao.txt
criar_arquivos.bat
atualizar_git.cmd
push.cmd
verificacao*.txt
# Adicione isso
*.sqlite
*.sqlite-wal
*.sqlite-shm
mnemonic.txt
seed.txt
